﻿@model IEnumerable<BloodSave.Models.DonorViewModel>

@{
    ViewData["Title"] = "Index";
}

<h4>Listado de Dontantes</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FullName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BloodType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DonationQuantity)
            </th>
            <th>Accion</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BloodType)
            </td>
            <td>
                <a asp-action="#">
                    @Html.DisplayFor(modelItem => item.DonationQuantity)
                </a>
            </td>
            <td>
                <a asp-controller="Donations" asp-action="Create" asp-route-id="@item.Id">Agregar Donacion</a>
            </td>
        </tr>
}
    </tbody>
</table>
