﻿@model BloodSave.Models.Donation

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Donation</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="DonorId" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="Donor.FirstName" class="control-label"></label>
                <input asp-for="Donor.FirstName" class="form-control" disabled />
                <span asp-validation-for="Donor.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Donor.LastName" class="control-label"></label>
                <input asp-for="Donor.LastName" class="form-control" disabled />
                <span asp-validation-for="Donor.LastName" class="text-danger"></span>
            </div>
            <input asp-for="BloodBankId" class="form-control" hidden />
            <div class="form-group">
                <label asp-for="BloodBank.Name" class="control-label"></label>
                <input asp-for="BloodBank.Name" class="form-control" disabled />
                <span asp-validation-for="BloodBank.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BloodQuantity" class="control-label"></label>
                <input asp-for="BloodQuantity" class="form-control" />
                <span asp-validation-for="BloodQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
