﻿@model BloodSave.Models.BloodBank

@{
    ViewData["Title"] = "Perfil";
    int donations = Model.Donations.Count;
    int bloodQuantity = Model.Donations.Sum(m => m.BloodQuantity);
}

<div>
    <h4>Datos Personales</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Donations)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => donations)
        </dd>
        <dt class="col-sm-2">
            Cantidad de Sangre (ml)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(modelItem => bloodQuantity)
        </dd>
    </dl>
</div>

<h4>Donaciones</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Nombre Completo
            </th>
            <th>
                Tipo de Sangre
            </th>
            <th>
                Cantidad de Sangre (ml)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Donations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Donor.FirstName) @Html.DisplayFor(modelItem => item.Donor.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Donor.BloodType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodQuantity)
                </td>
            </tr>
        }
    </tbody>
</table>