﻿@model BloodSave.Models.Donor

@{
    ViewData["Title"] = "Perfil";
}

<div>
    <h4>Datos Personales</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.BloodType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.BloodType)
        </dd>
    </dl>
</div>

<h4>Donaciones</h4>

<table class="table">
    <thead>
        <tr>
            <th>
                Banco de Sangre
            </th>
            <th>
                Ubicacion
            </th>
            <th>
                Cantidad de Sangre (ml)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Donations)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodBank.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodBank.Location)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.BloodQuantity)
                </td>
            </tr>
        }
    </tbody>
</table>

