﻿<div id="regions_div" style="width: 900px; height: 500px;"></div>

@section scripts {
    <script type="text/javascript">
        
        google.charts.load('current', {
            'packages': ['geochart'],
            'mapsApiKey': 'AIzaSyD-9tSrke72PouQMnMX-a7eZSW0jkFMBWY'
        });
        google.charts.setOnLoadCallback(drawRegionsMap);

        function drawRegionsMap() {
            var data = google.visualization.arrayToDataTable([
                ['Country', 'Bancos de Sangre'],
                [{ f: 'Distrito Nacional (Santo Domingo)', v: 'DO-01' }, 5],
                [{ f: 'Azua', v: 'DO-02' }, 6],
                [{ f: 'Bahoruco', v: 'DO-03' }, 1],
                [{ f: 'Barahona', v: 'DO-04' }, 10],
                [{ f: 'Dajabón', v: 'DO-05' }, 6],
                [{ f: 'Duarte', v: 'DO-06' }, 4],
                [{ f: 'El Seybo [El Seibo]', v: 'DO-08' }, 6],
                [{ f: 'Espaillat', v: 'DO-09' }, 5],
                [{ f: 'Hato Mayor', v: 'DO-30' }, 7],
                [{ f: 'Independencia', v: 'DO-10' }, 7],
                [{ f: 'La Altagracia', v: 'DO-11' }, 1],
                [{ f: 'La Estrelleta [Elías Piña]', v: 'DO-07' }, 5],
                [{ f: 'La Romana', v: 'DO-12' }, 3],
                [{ f: 'La Vega', v: 'DO-13' }, 7],
                [{ f: 'María Trinidad Sánchez', v: 'DO-14' }, 4],
                [{ f: 'Monseñor Nouel', v: 'DO-28' }, 4],
                [{ f: 'Monte Cristi', v: 'DO-15' }, 9],
                [{ f: 'Monte Plata', v: 'DO-29' }, 3],
                [{ f: 'Pedernales', v: 'DO-16' }, 3],
                [{ f: 'Peravia', v: 'DO-17' }, 7],
                [{ f: 'Puerto Plata', v: 'DO-18' }, 5],
                [{ f: 'Salcedo [note 1]', v: 'DO-19' }, 9],
                [{ f: 'Samaná', v: 'DO-20' }, 1],
                [{ f: 'San Cristóbal', v: 'DO-21' }, 2],
                [{ f: 'San José de Ocoa', v: 'DO-31' }, 2],
                [{ f: 'San Juan', v: 'DO-22' }, 2],
                [{ f: 'San Pedro de Macorís', v: 'DO-23' }, 1],
                [{ f: 'Santiago', v: 'DO-25' }, 1],
                [{ f: 'Santiago Rodríguez', v: 'DO-26' }, 9],
                [{ f: 'Santo Domingo', v: 'DO-32' }, 5],
                [{ f: 'Valverde', v: 'DO-27' }, 7]
            ]);

            var options = {
                'title': 'Map',
                'region': 'DO',
                'resolution': 'provinces'
            };

            var chart = new google.visualization.GeoChart(document.getElementById('regions_div'));

            chart.draw(data, options);
        }
    </script>
}